/datasets/*
!/datasets/.keep

/models/*
!/models/.keep

/runs/*
!/runs/.keep

/sources/*
!/sources/images/
!/sources/videos/

/sources/images/*
!/sources/images/.keep

/sources/videos/*
!/sources/videos/.keep

/tmp